[version "1"]

[init]
scene = hotel-floor-1
windowAntialiasing = false
windowBackgroundColor = #ffffff
windowHeight = 600
windowTitle = Прототип: Отель
windowWidth = 900

[scene "hotel-floor-1"]
file = scn/hotel-floor-1.config

[scene "hotel-floor-2"]
file = scn/hotel-floor-2.config

[texture "stub"]
file = img/stub.png
height = 50
x = 0
y = 0
width = 50

[texture "t-door1_1"]
file = img/doors1.png
height = 125
x = 0
y = 0
width = 75

[texture "t-door1_2"]
file = img/doors1.png
height = 125
x = 75
y = 0
width = 75

[texture "t-door.locked1"]
file = img/sz.bw.src.door.locked1.png
height = 75
x = 0
y = 0
width = 550

[texture "t-floor1"]
file = img/bw.sz.src.floor.png
height = 25
x = 0
y = 0
width = 900

[texture "t-key1_1"]
file = img/keys1.png
height = 25
x = 0
y = 0
width = 25

[texture "t-key1_2"]
file = img/keys1.png
height = 25
x = 25
y = 0
width = 25

[texture "t-player1"]
file = img/sz.bw.src.player1.png
height = 100
x = 0
y = 0
width = 50

[texture "t-tv1_1"]
file = img/tv1.png
height = 75
x = 0
y = 0
width = 125

[texture "t-tv1_2"]
file = img/tv1.png
height = 75
x = 125
y = 0
width = 125

[texture "t-tv-france"]
file = img/sz.bw.src.tv.france.png
height = 75
x = 0
y = 0
width = 450

[texture "t-key-nobag"]
file = img/sz.bw.src.key.nobag.png
height = 75
x = 0
y = 0
width = 550

[texture "t-upstairs"]
file = img/sz.bw.src.upstairs.png
height = 75
x = 0
y = 0
width = 450
