[version "2"]

[init]
scene = hotel-floor-1-tv
#scene = splash
#scene = hotel-floor-1-tv-olymp
#scene = hotel-floor-1-tv-durov
windowAntialiasing = false
windowBackgroundColor = #ffffff
windowHeight = 600
windowTitle = Прототип: Отель
windowWidth = 900

[scene "hotel-floor-1"]
file = scn/hotel-floor-1.config

[scene "hotel-floor-1-tv"]
file = scn/hotel-floor-1-tv.config

[scene "hotel-floor-1-tv-durov"]
file = scn/hotel-floor-1-tv-durov.config

[scene "hotel-floor-1-tv-olymp"]
file = scn/hotel-floor-1-tv-olymp.config

[scene "hotel-floor-2"]
file = scn/hotel-floor-2.config

[scene "hotel-floor-3"]
file = scn/hotel-floor-3.config

[scene "splash"]
file = scn/splash.config

[texture "splash-gleb"]
file = img/8.sz.bw.src.splash.gleb.png
height = 125
x = 0
y = 0
width = 100

[texture "splash-mouse1"]
file = img/8.sz.bw.src.splash.mouse1.png
height = 75
x = 0
y = 0
width = 150

[texture "splash-mouse2"]
file = img/8.sz.bw.src.splash.mouse2.png
height = 150
x = 0
y = 0
width = 125

[texture "splash-start1"]
file = img/splash.start.png
height = 75
x = 0
y = 0
width = 325

[texture "splash-start2"]
file = img/splash.start.png
height = 75
x = 325
y = 0
width = 325

[texture "splash-title"]
file = img/8.sz.bw.src.splash.title.png
height = 250
x = 0
y = 0
width = 500

[texture "stub"]
file = img/stub.png
height = 50
x = 0
y = 0
width = 50

[texture "t-door1_1"]
file = img/doors1.png
height = 125
x = 0
y = 0
width = 75

[texture "t-door1_2"]
file = img/doors1.png
height = 125
x = 75
y = 0
width = 75

[texture "t-door.locked1"]
file = img/sz.bw.src.door.locked1.png
height = 75
x = 0
y = 0
width = 550

[texture "t-floor1"]
file = img/bw.sz.src.floor.png
height = 25
x = 0
y = 0
width = 900

[texture "t-key1_1"]
file = img/keys1.png
height = 25
x = 0
y = 0
width = 25

[texture "t-key1_2"]
file = img/keys1.png
height = 25
x = 25
y = 0
width = 25

[texture "t-large-tv"]
file = img/8.sz.bw.src.tv.large.png
height = 225
x = 0
y = 0
width = 375

[texture "t-large-tv-durov"]
file = img/8.sz.bw.src.tv.large.durov.png
height = 190
x = 0
y = 0
width = 340

[texture "t-large-tv-olymp"]
file = img/8.sz.bw.src.tv.large.olymp.png
height = 190
x = 0
y = 0
width = 340

[texture "t-player1"]
file = img/sz.bw.src.player1.png
height = 100
x = 0
y = 0
width = 50

[texture "t-rc"]
file = img/8.sz.bw.src.rc.png
height = 150
x = 0
y = 0
width = 75

[texture "t-rc-btn-1_1"]
file = img/8.sz.bw.src.rc.btn1_1.png
height = 25
x = 0
y = 0
width = 25

[texture "t-rc-btn-1_2"]
file = img/8.sz.bw.src.rc.btn1_2.png
height = 25
x = 0
y = 0
width = 25

[texture "t-rc-btn-2_1"]
file = img/8.sz.bw.src.rc.btn2_1.png
height = 25
x = 0
y = 0
width = 25

[texture "t-rc-btn-2_2"]
file = img/8.sz.bw.src.rc.btn2_2.png
height = 25
x = 0
y = 0
width = 25

[texture "t-rc-ir-off"]
file = img/8.sz.bw.src.rc.ir.off.png
height = 25
x = 0
y = 0
width = 25

[texture "t-rc-ir-on"]
file = img/8.sz.bw.src.rc.ir.on.png
height = 25
x = 0
y = 0
width = 25

[texture "t-tv1_1"]
file = img/tv1.png
height = 75
x = 0
y = 0
width = 125

[texture "t-tv1_2"]
file = img/tv1.png
height = 75
x = 125
y = 0
width = 125

[texture "t-tv-france"]
file = img/sz.bw.src.tv.france.png
height = 75
x = 0
y = 0
width = 450

[texture "t-key-nobag"]
file = img/sz.bw.src.key.nobag.png
height = 75
x = 0
y = 0
width = 550

[texture "t-upstairs"]
file = img/sz.bw.src.upstairs.png
height = 75
x = 0
y = 0
width = 450
