[version "1"]

[init]
windowAntialiasing = false
windowBackgroundColor = #ffffff
windowHeight = 600
windowTitle = Прототип: Отель
windowWidth = 900

[item "i-door1"]
actions[] = ht_reportDoorKeyRequired
actions[] = ht_goUpstairsWithKey
left = 100
textures[] = t_door11
textures[] = t_door12
textures[] = t_door1_commentKeyRequired
top = 100
visible = true

[player]
base = 125
left = 150
texture = t-player1
visible = true

[static "s-floor1"]
left = 0
texture = t-floor1
top = 25
visible = true

[static "s-floor2"]
left = 0
texture = t-floor1
top = 225
visible = true

[static "s-floor3"]
left = 0
texture = t-floor1
top = 425
visible = true

[static "s-door1"]
left = 25
texture = t-door1_1
top = 150
visible = true

[static "s-door21"]
left = 25
texture = t-door1_1
top = 350
visible = true

[static "s-door22"]
left = 800
texture = t-door1_1
top = 350
visible = true

[static "s-door3"]
left = 800
texture = t-door1_1
top = 550
visible = true

[texture "stub"]
file = img/stub.png
height = 50
x = 0
y = 0
width = 50

[texture "t-door1_1"]
file = img/doors1.png
height = 125
x = 0
y = 0
width = 75

[texture "t-door1_2"]
file = img/doors1.png
height = 125
x = 75
y = 0
width = 75

[texture "t-floor1"]
file = img/bw.sz.src.floor.png
height = 25
x = 0
y = 0
width = 900

[texture "t-player1"]
file = img/sz.bw.src.player1.png
height = 100
x = 0
y = 0
width = 50
