[version "2"]

[goto "floor2"]
delay = 200
item = door-1
playerBase = 325
playerLeft = 25
scene = hotel-floor-2

[goto "tv"]
delay = 200
item = tv
scene = hotel-floor-1-tv

[item "door-1"]
delay = 700
left = 25
texture1 = t-door1_1
texture2 = t-door1_2
top = 150
visible = true

[item "door-2_1"]
delay = 700
left = 25
texture1 = t-door1_1
texture2 = t-door1_2
top = 350
visible = true

[item "door-2_2"]
delay = 700
left = 800
texture1 = t-door1_1
texture2 = t-door1_2
top = 350
visible = true

[item "door-3"]
delay = 700
left = 800
texture1 = t-door1_1
texture2 = t-door1_2
top = 550
visible = true

[item "key1"]
delay = 700
left = 850
texture1 = t-key1_1
texture2 = t-key1_2
top = 50
visible = true

[item "tv"]
delay = 700
left = 500
texture1 = t-tv1_1
texture2 = t-tv1_2
top = 175
visible = true

[player]
base = 125
left = 150
texture = t-player1
visible = true

[static "s-floor1"]
left = 0
texture = t-floor1
top = 25
visible = true

[static "s-floor2"]
left = 0
texture = t-floor1
top = 225
visible = true

[static "s-floor3"]
left = 0
texture = t-floor1
top = 425
visible = true

[static "door-locked"]
left = 25
texture = t-door.locked1
top = 225
