[version "3"]

[comment "rc-1"]
duration = 200
item = rc-btn-1
static = rc-ir-on

[comment "rc-2"]
duration = 200
item = rc-btn-2
static = rc-ir-on

[goto "ch1"]
delay = 200
item = rc-btn-1
scene = hotel-floor-1-tv-olymp

[goto "ch2"]
delay = 200
item = rc-btn-2
scene = hotel-floor-1-tv-durov

[item "rc-btn-1"]
delay = 700
left = 500
texture1 = t-rc-btn-1_1
texture2 = t-rc-btn-1_2
top = 160
visible = true

[item "rc-btn-2"]
delay = 700
left = 500
texture1 = t-rc-btn-2_1
texture2 = t-rc-btn-2_2
top = 120
visible = true

[static "large-tv"]
left = 225
texture = t-large-tv
top = 500
visible = true

[static "large-tv-durov"]
left = 250
texture = t-large-tv-durov
top = 495
visible = true

[static "rc"]
left = 475
texture = t-rc
top = 200
visible = true

[static "rc-ir-off"]
left = 520
texture = t-rc-ir-off
top = 222
visible = true

[static "rc-ir-on"]
left = 520
texture = t-rc-ir-on
top = 222
visible = false
