[version "2"]

[goto "floor1"]
item = start
scene = hotel-floor-1

[item "start"]
delay = 700
left = 275
texture1 = splash-start1
texture2 = splash-start2
top = 200
visible = true

[static "gleb"]
left = 750
texture = splash-gleb
top = 125
visible = true

[static "mouse1"]
left = 375
texture = splash-mouse1
top = 75
visible = true

[static "mouse2"]
left = 50
texture = splash-mouse2
top = 150
visible = true

[static "title"]
left = 175
texture = splash-title
top = 525
visible = true
